@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!--filtering-->
    <form asp-controller="Burials" asp-action="FilterLoc" method="post" class="burialForm form-inline">
        <label>Location N/S</label>
        <select onchange="this.form.submit()" name="filter">
            @if (ViewBag.FilterLoc.LocationNs == "all")
            {
                <option selected value="all">All</option>
            }
            else
            {
                <option value="all">All</option>
            }
            @foreach (var item in ViewBag.LocationNStemp)
            {
                @if (ViewBag.FilterLoc.LocationNs == item)
                {
                    <option selected>@item</option>
                }
                else
                {
                    <option>@item</option>
                }
            }
        </select>
        <label>Low Pair N/S</label>
        <select onchange="this.form.submit()" name="filter">
            @if (ViewBag.FilterLoc.LowPairNs.ToString() == "all")
            {
                <option selected value="all">All</option>
            }
            else
            {
                <option value="all">All</option>
            }
            @foreach (var item in ViewBag.LowPairNs)
            {
                @if (ViewBag.FilterLoc.LowPairNs.ToString() == item.ToString())
                {
                    <option selected>@item</option>
                }
                else
                {
                    <option>@item</option>
                }
            }
        </select>
        <label>High Pair N/S</label>
        <select onchange="this.form.submit()" name="filter">
            @if (ViewBag.FilterLoc.HighPairNs.ToString() == "all")
            {
                <option selected value="all">All</option>
            }
            else
            {
                <option value="all">All</option>
            }
            @foreach (var item in ViewBag.HighPairNs)
            {
                @if (ViewBag.FilterLoc.HighPairNs.ToString() == item.ToString())
                {
                    <option selected>@item</option>
                }
                else
                {
                    <option>@item</option>
                }
            }
        </select>
        <label>Location E/W</label>
        <select onchange="this.form.submit()" name="filter">
            @if (ViewBag.FilterLoc.LocationEw.ToString() == "all")
            {
                <option selected value="all">All</option>
            }
            else
            {
                <option value="all">All</option>
            }
            @foreach (var item in ViewBag.LocationEw)
            {
                @if (ViewBag.FilterLoc.LocationEw == item)
                {
                    <option selected>@item</option>
                }
                else
                {
                    <option>@item</option>
                }
            }
        </select>
        <label>Low Pair N/S</label>
        <select onchange="this.form.submit()" name="filter">
            @if (ViewBag.FilterLoc.LowPairEw.ToString() == "all")
            {
                <option selected value="all">All</option>
            }
            else
            {
                <option value="all">All</option>
            }
            @foreach (var item in ViewBag.LowPairEw)
            {
                @if (ViewBag.FilterLoc.LowPairEw.ToString() == item.ToString())
                {
                    <option selected>@item</option>
                }
                else
                {
                    <option>@item</option>
                }
            }
        </select>
        <label>High Pair N/S</label>
        <select onchange="this.form.submit()" name="filter">
            @if (ViewBag.FilterLoc.HighPairEw.ToString() == "all")
            {
                <option selected value="all">All</option>
            }
            else
            {
                <option value="all">All</option>
            }
            @foreach (var item in ViewBag.HighPairEw)
            {
                @if (ViewBag.FilterLoc.HighPairEw.ToString() == item.ToString())
                {
                    <option selected>@item</option>
                }
                else
                {
                    <option>@item</option>
                }
            }
        </select>


        <label>Gender</label>
        <select onchange="this.form.submit()" name="filter">
            @if (ViewBag.FilterLoc.Gender == "all")
            {
                <option selected value="all">All</option>
            }
            else
            {
                <option value="all">All</option>
            }
            @foreach (var item in ViewBag.Gender)
            {
                @if (ViewBag.FilterLoc.Gender == item)
                {
                    @if (item == "M")

                    {
                        <option value="@item" selected>Male</option>
                    }
                    else if (item == "F")
                    {
                        <option value="@item" selected>Female</option>
                    }
                    else
                    {
                        <option value="@item" selected>Unidentified</option>
                    }
                }
                else
                {
                    @if (item == "M")

                    {
                        <option value="@item">Male</option>
                    }
                    else if (item == "F")
                    {
                        <option value="@item">Female</option>
                    }
                    else
                    {
                        <option value="@item">Unidentified</option>
                    }
                }

            }
        </select>

    </form>
