@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!--filtering-->

        <div class="form-group">
            <label for="locationns">Location N/S</label>
            <select class="burialFilter" id="locationns" onchange="this.form.submit()" name="filter">
                @if (ViewBag.FilterLoc.LocationNs == "all")
                {
                    <option selected value="all">All</option>
                }
                else
                {
                    <option value="all">All</option>
                }
                @foreach (var item in ViewBag.LocationNStemp)
                {
                    @if (ViewBag.FilterLoc.LocationNs == item)
                    {
                        <option selected>@item</option>
                    }
                    else
                    {
                        <option>@item</option>
                    }
                }
            </select>
        </div>
        
        <div class="form-group">
            <label for="lowpairns">Low Pair N/S</label>
            <select class="burialFilter" id="lowpairns" onchange="this.form.submit()" name="filter">
                @if (ViewBag.FilterLoc.LowPairNs.ToString() == "all")
                {
                    <option selected value="all">All</option>
                }
                else
                {
                    <option value="all">All</option>
                }
                @foreach (var item in ViewBag.LowPairNs)
                {
                    @if (ViewBag.FilterLoc.LowPairNs.ToString() == item.ToString())
                    {
                        <option selected>@item</option>
                    }
                    else
                    {
                        <option>@item</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="highpairns">High Pair N/S</label>
            <select id="highpairns" class="burialFilter" onchange="this.form.submit()" name="filter">
                @if (ViewBag.FilterLoc.HighPairNs.ToString() == "all")
                {
                    <option selected value="all">All</option>
                }
                else
                {
                    <option value="all">All</option>
                }
                @foreach (var item in ViewBag.HighPairNs)
                {
                    @if (ViewBag.FilterLoc.HighPairNs.ToString() == item.ToString())
                    {
                        <option selected>@item</option>
                    }
                    else
                    {
                        <option>@item</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="locationew">Location E/W</label>
            <select id="locationew" class="burialFilter" onchange="this.form.submit()" name="filter">
                @if (ViewBag.FilterLoc.LocationEw.ToString() == "all")
                {
                    <option selected value="all">All</option>
                }
                else
                {
                    <option value="all">All</option>
                }
                @foreach (var item in ViewBag.LocationEw)
                {
                    @if (ViewBag.FilterLoc.LocationEw == item)
                    {
                        <option selected>@item</option>
                    }
                    else
                    {
                        <option>@item</option>
                    }
                }
            </select>
        </div>
        
        <div class="form-group">
            <label for="lowpairew">Low Pair E/W</label>
            <select id="lowpairew" class="burialFilter" onchange="this.form.submit()" name="filter">
                @if (ViewBag.FilterLoc.LowPairEw.ToString() == "all")
                {
                    <option selected value="all">All</option>
                }
                else
                {
                    <option value="all">All</option>
                }
                @foreach (var item in ViewBag.LowPairEw)
                {
                    @if (ViewBag.FilterLoc.LowPairEw.ToString() == item.ToString())
                    {
                        <option selected>@item</option>
                    }
                    else
                    {
                        <option>@item</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="highpairew">High Pair E/W</label>
            <select id="highpairew" class="burialFilter" onchange="this.form.submit()" name="filter">
                @if (ViewBag.FilterLoc.HighPairEw.ToString() == "all")
                {
                    <option selected value="all">All</option>
                }
                else
                {
                    <option value="all">All</option>
                }
                @foreach (var item in ViewBag.HighPairEw)
                {
                    @if (ViewBag.FilterLoc.HighPairEw.ToString() == item.ToString())
                    {
                        <option selected>@item</option>
                    }
                    else
                    {
                        <option>@item</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="subplot">Sub Plot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <select id="subplot" class="burialFilter" onchange="this.form.submit()" name="filter">
                @if (ViewBag.FilterLoc.SubPlotFilter == "all")
                {
                    <option selected value="all">All</option>
                }
                else
                {
                    <option value="all">All</option>
                }
                @foreach (var item in ViewBag.SubPlotFilter)
                {
                    @if (ViewBag.FilterLoc.SubPlotFilter == item)
                    {
                        <option selected>@item</option>
                    }
                    else
                    {
                        <option>@item</option>
                    }
                }
            </select>
        </div>
        

