@model IWantMyMummy.Models.Image

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Additional Image Details</h1>
    <br /><br />


    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Image1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Image1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImageDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Burial)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Burial.BurialWrapping)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialS)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialS.BurialSubplot)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BurialSquare)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BurialSquare.BurialSquareId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cranial)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cranial.CranialId)
            </dd>
        </dl>
    </div>
    <div>
        @if (ViewBag.Role == 2 || ViewBag.Role == 3)
        {
            <a asp-action="Edit" asp-route-id="@Model.ImageId">Edit</a> 
        }
        | <a asp-action="Index">Back to List</a>
    </div>
</div>