@model BurialsViewModel

@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }




<div class="container">

    <h1>Burials</h1>
    <br />
    <br />
    <div class="row text-left">
        <div class="col-2">
            <!--Filter-->
            <!--Location-->
            <form asp-controller="Burials" asp-action="FilterLoc" method="post" class="burialForm form-inline">
                <div class="row">
                    <div class="joke">
                        <a class="btn btn-primary" data-toggle="collapse" href="#filter1" role="button" aria-expanded="false" aria-controls="filter1">
                            Filter by Location
                        </a>
                        <div class="collapse" id="filter1">
                            <partial name="_BurialFilterLocationPartialView" />
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <br />
                    <!--Gender-->
                    <div class="joke">
                        <a class="btn btn-primary" data-toggle="collapse" href="#filter2" role="button" aria-expanded="false" aria-controls="filter2">
                            Filter by Gender
                        </a>
                        <div class="collapse" id="filter2">
                            <partial name="_BurialFilterGenderPartialView" />
                        </div>
                    </div>

                </div>
                <br />
                <!--Characteristics-->
                <div class="row">
                    <br />
                    <div class="joke">
                        <a class="btn btn-primary" data-toggle="collapse" href="#characteristics" role="button" aria-expanded="false" aria-controls="filter2">
                            Filter by Characteristics
                        </a>
                        <div class="collapse" id="characteristics">
                            <partial name="_BurialFilterCharacteristicsPartialView" />
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="joke">
                        <a class="btn btn-secondary" asp-controller="Burials" asp-action="Index">Clear Filters</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-10">
            <a class="btn btn-primary" asp-action="Create1">Create New Burial</a>
            <br /><br />
            

            <table class="table table-bordered table-striped table-hover table-sm text-center align-top">
                <thead class="thead-dark">
                    <tr>

                        <th>
                            #
                        </th>
                        <th>
                            Depth
                        </th>
                        <th>
                            Wrapping
                        </th>

                        <th>
                            Adult/Child
                        </th>
                        <th>
                            Length of Remains
                        </th>

                        <th>
                            Gender
                        </th>

                        <th>
                            Head Direction
                        </th>

                        <th>
                            Subplot
                        </th>
                        <th>
                            Square
                        </th>
                        <th>Quick View</th>
                        <th>Add</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.JoinBurialSquareViewModel)
                    {
                     
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Burials.BurialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Burials.BurialDepth)
                        </td>

                        @if (item.Burials.BurialWrapping == "B")
                        {
                            <td>Bones</td>
                        }
                        @if (item.Burials.BurialWrapping == "W")
                        {
                            <td>Wrapped</td>
                        }

                        @if (item.Burials.BurialWrapping == "H")
                        {
                            <td>Half Wrapped</td>
                        }



                        @if (item.Burials.BurialAdult == true)
                        {
                            <td>Adult</td>               
                        }
                        @if (item.Burials.BurialAdult == false)
                        {
                            <td>Child</td>               
                        }
                        @if (item.Burials.BurialAdult == null)
                        {
                            <td></td>                
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Burials.LengthOfRemains)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Burials.GenderGe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Burials.HeadDirection)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Burials.BurialSubplot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialSquare.BurialSquareId)
                        </td>

                        <td>
                            <!-- MODAL FOR QUICK VIEW -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@(item.Burials.GenderGe + item.Burials.BurialId)">View</button>



                            <div id="@(item.Burials.GenderGe + item.Burials.BurialId)" class="modal fade text-left" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">



                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Burial# @item.Burials.BurialNumber</h4>
                                            <button type="button" class="close" data-dismiss="modal"></button>
                                            <span aria-hidden="true">&times;</span>
                                        </div>
                                        <img src="~/img/img@(item.Burials.BurialNumber).JPG" />
                                        <div class="modal-body">
                                            <p>Depth: @item.Burials.BurialDepth</p>
                                            <p>Situation: @item.Burials.BurialSituation</p>
                                            <p>Wrapping: @item.Burials.BurialWrapping</p>
                                            <p>Adult: @item.Burials.BurialAdult</p>
                                            <p>Length of Remains: @item.Burials.LengthOfRemains</p>
                                            <p>Gender: @item.Burials.GenderGe</p>
                                            <p>Head Direction: @item.Burials.HeadDirection</p>
                                            <p>Subplot: @item.Burials.BurialSubplot</p>
                                            <p>Square: @item.Burials.BurialSquareId</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default text-white" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                        <td>
                            <!--MODAL FOR ADDING IMAGES< CRANIAL AND RACK -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@(item.Burials.BurialWrapping + item.Burials.BurialId)">Add</button>
                            <div id="@(item.Burials.BurialWrapping+ item.Burials.BurialId)" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Burial# @item.Burials.BurialNumber</h4>
                                            <button type="button" class="close" data-dismiss="modal"></button>
                                            <span aria-hidden="true">&times;</span>
                                        </div>
                                        <img src="~/img/pyramids-2159286_1920.jpg" />
                                        <a asp-controller="Images" asp-action="Create" asp-route-BurialId="@item.Burials.BurialId" asp-route-Burial="@item.Burials.BurialSquareId"
                                           asp-route-Subplot="@item.Burials.BurialSubplot" asp-route-Num="@item.Burials.BurialNumber">Add Image</a>
                                        <a asp-controller="CranialSamples" asp-action="Create" asp-route-BurialId="@item.Burials.BurialId" asp-route-Burial="@item.Burials.BurialSquareId"
                                           asp-route-Subplot="@item.Burials.BurialSubplot" asp-route-Num="@item.Burials.BurialNumber">Add Cranial Data</a>
                                        <a asp-controller="RackSamples" asp-action="Create" asp-route-BurialId="@item.Burials.BurialId" asp-route-Burial="@item.Burials.BurialSquareId"
                                           asp-route-Subplot="@item.Burials.BurialSubplot" asp-route-Num="@item.Burials.BurialNumber">Add Rack Sample</a>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default text-white" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Burials.BurialId" asp-route-sub="@item.Burials.BurialSubplot">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Burials.BurialId">Details</a>
                                @if (ViewBag.Role == 3)
                                {
                                    <a asp-action="Delete" asp-route-id="@item.Burials.BurialId">Delete</a>
                                }
                            </td>
                        }

                    </tr>
                    }
                </tbody>
            </table>
            <div class="btn-group pull-right m-1" page-info="@Model.PageNumberingInfo" page-class="btn" page-class-normal="btn-outline-dark" page-classes-enabled="true" page-class-selected="btn-primary"></div>
        </div>
        
        
    </div>
    
</div>
