@model IEnumerable<IWantMyMummy.Models.Burial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Burials</h1>
    <br /><br />

    <p>
        <a class="btn btn-primary" asp-action="Create1">Create New Burial</a>
    </p>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="thead-dark">
            <tr>

                <th>
                    #
                </th>
                <th>
                    Depth
                </th>

                <th>
                    Situation
                </th>
                <th>
                    Wrapping
                </th>

                <th>
                    Adult?
                </th>
                <th>
                    Length of Remains
                </th>

                <th>
                    Gender
                </th>

                <th>
                    Head Direction
                </th>

                <th>
                    Subplot
                </th>
                <th>
                    Square
                </th>
                <th>View</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BurialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialDepth)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.BurialSituation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialWrapping)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialAdult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LengthOfRemains)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenderGe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeadDirection)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.BurialS.BurialSubplot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialSquare.BurialSquareId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BurialId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BurialId">Details</a> |
                    <a asp-controller="Images" asp-action="Create" asp-route-BurialId="@item.BurialId" asp-route-Burial="@item.BurialSquareId"
                       asp-route-Subplot="@item.BurialSubplot" asp-route-Num="@item.BurialNumber">Add Image</a> |
                    
                    <a asp-controller="CranialSamples" asp-action="Create" asp-route-id="@item.BurialId">Add Cranial Data</a> |
                    <a asp-controller="RackSamples" asp-action="Create" asp-route-id="@item.BurialId">Add Rack Sample</a> |
                    <a asp-action="Delete" asp-route-id="@item.BurialId">Delete</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id(@item.BurialId)">
                        View
                    </button>
                </td>


                <!-- Modal -->
                <div class="modal fade" id="id(@item.BurialId)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Burial #@Html.DisplayFor(modelItem => item.BurialNumber)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            }
        </tbody>
    </table>
</div>
