@model IEnumerable<IWantMyMummy.Models.BurialSquare>

@{
    ViewData["Title"] = "Squares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container viewContainer">

    <div class="text-center">
        <h1>Squares</h1>
    </div>



    @if (ViewBag.Role == 2 || ViewBag.Role == 3)
    {
        <p>
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </p>
    }


    
    <table class="table table-bordered table-striped table-hover squareTable">
        <caption>List of Squares</caption>
        <thead class="thead-dark">
            <tr>
                <th>
                    Burial Square ID
                </th>
                <th>
                    Burial Location (N/S)
                </th>
                <th>
                    Burial Location (E/W)
                </th>
                <th>
                    Low Pair (N/S)
                </th>
                <th>
                    High Pair (N/S)
                </th>
                <th>
                    Low Pair (EW)
                </th>
                <th>
                    High Pair (EW)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialSquareId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialLocationNs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialLocationEw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LowPairNs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighPairNs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LowPairEw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HighPairEw)
                </td>


                @if (ViewBag.Role == 2)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BurialSquareId">Edit</a>
                    </td>
                }

                @if (ViewBag.Role == 3)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.BurialSquareId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.BurialSquareId">Delete</a>
                    </td>
                }

            </tr>
            }
        </tbody>
    </table>
</div>

