@model IEnumerable<IWantMyMummy.Models.CranialSample>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container viewContainer">

    <div class="text-center">
        <h1>Cranial Sample</h1>
    </div>

   <table class="table">
        <thead>
            <tr>
                <th>
                    Burial Id
                </th>
                <th>
                    Max Cranial Length
                </th>
                <th>
                    Basion Bregma Height
                </th>
                <th>
                    Basion Nasion
                </th> 
                <th>
                    Basion Prosthion Length
                </th>
                <th>
                    Interobital Breadth
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxCranialLength)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BasionBregmaHeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasionNasion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasionProsthionLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterobitalBreadth)

                </td>
                @if (ViewBag.Role == 2 || ViewBag.Role == 3)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CranialId">Edit</a> 
                        <a asp-action="Details" asp-route-id="@item.CranialId">Details</a> 
                        <a asp-action="Delete" asp-route-id="@item.CranialId">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.CranialId">Details</a> 
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>

</div>