@model RackViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>RackSample</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h3>Add Image for @ViewBag.Burial @ViewBag.Subplot #@ViewBag.Num</h3>
                @ViewBag.Id
            <div id="hidden">
                    <input type="hidden" value="@ViewBag.Id" asp-for="@Model.RackSample.BurialId" />
            </div>
                <label asp-for="@Model.RackSample.RackShelf" class="control-label"></label>
                <input asp-for="@Model.RackSample.RackShelf" class="form-control" />
                <span asp-validation-for="@Model.RackSample.RackShelf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.RackNumber" class="control-label"></label>
                <input asp-for="@Model.RackSample.RackNumber" class="form-control" />
                <span asp-validation-for="@Model.RackSample.RackNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="@Model.RackSample.IsBag" /> @Html.DisplayNameFor(model => model.RackSample.IsBag)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.TubeNumber" class="control-label"></label>
                <input asp-for="@Model.RackSample.TubeNumber" class="form-control" />
                <span asp-validation-for="@Model.RackSample.TubeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.RankDescription" class="control-label"></label>
                <input asp-for="@Model.RackSample.RankDescription" class="form-control" />
                <span asp-validation-for="@Model.RackSample.RankDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.MlSize" class="control-label"></label>
                <input asp-for="@Model.RackSample.MlSize" class="form-control" />
                <span asp-validation-for="@Model.RackSample.MlSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.Foci" class="control-label"></label>
                <input asp-for="@Model.RackSample.Foci" class="form-control" />
                <span asp-validation-for="@Model.RackSample.Foci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.LocationNotes" class="control-label"></label>
                <input asp-for="@Model.RackSample.LocationNotes" class="form-control" />
                <span asp-validation-for="@Model.RackSample.LocationNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.Questions" class="control-label"></label>
                <input asp-for="@Model.RackSample.Questions" class="form-control" />
                <span asp-validation-for="@Model.RackSample.Questions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.Conventional14cAgeBp" class="control-label"></label>
                <input asp-for="@Model.RackSample.Conventional14cAgeBp" class="form-control" />
                <span asp-validation-for="@Model.RackSample.Conventional14cAgeBp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample._14cCalendarDay" class="control-label"></label>
                <input asp-for="@Model.RackSample._14cCalendarDay" class="form-control" />
                <span asp-validation-for="@Model.RackSample._14cCalendarDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.Calibrated95CalendarDateMax" class="control-label"></label>
                <input asp-for="@Model.RackSample.Calibrated95CalendarDateMax" class="form-control" />
                <span asp-validation-for="@Model.RackSample.Calibrated95CalendarDateMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.Calibrated95CalendarDateMin" class="control-label"></label>
                <input asp-for="@Model.RackSample.Calibrated95CalendarDateMin" class="form-control" />
                <span asp-validation-for="@Model.RackSample.Calibrated95CalendarDateMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.Calibrated95CalendarDateAvg" class="control-label"></label>
                <input asp-for="@Model.RackSample.Calibrated95CalendarDateAvg" class="form-control" />
                <span asp-validation-for="@Model.RackSample.Calibrated95CalendarDateAvg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.Category" class="control-label"></label>
                <input asp-for="@Model.RackSample.Category" class="form-control" />
                <span asp-validation-for="@Model.RackSample.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RackSample.Notes" class="control-label"></label>
                <input asp-for="@Model.RackSample.Notes" class="form-control" />
                <span asp-validation-for="@Model.RackSample.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
