@model IWantMyMummy.Models.RackSample

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h1>Rack Sample Details</h1>

    <div>
        <h4>
            Rack @Model.RackNumber : @Model.RackShelf
        </h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsBag)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsBag)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TubeNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TubeNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RankDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RankDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MlSize)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MlSize)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Foci)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Foci)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LocationNotes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LocationNotes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Questions)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Questions)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Conventional14cAgeBp)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Conventional14cAgeBp)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model._14cCalendarDay)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model._14cCalendarDay)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMax)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Calibrated95CalendarDateMax)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMin)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Calibrated95CalendarDateMin)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Calibrated95CalendarDateSpan)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Calibrated95CalendarDateSpan)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Calibrated95CalendarDateAvg)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Calibrated95CalendarDateAvg)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Notes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Notes)
            </dd>

        </dl>
    </div>
    <div>
        @if (ViewBag.Role == 2 || ViewBag.Role == 3)
        {
            <a asp-action="Edit" asp-route-RackNumber="@Model.RackNumber" asp-route-RackShelf="@Model.RackShelf">Edit</a>  
        }
        <a asp-action="Index">Back to List</a>
    </div>
</div>