@model IEnumerable<IWantMyMummy.Models.RackSample>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container viewContainer">
    <div class="text-center">
        <h1>Rack</h1> 
    </div>
    <br />


    <table class="table table-bordered table-striped table-hover squareTable">
        <caption>All Racks</caption>

        <thead class="thead-dark">
            <tr>
                <th>
                    Burial Id
                </th>
                <th>
                    Rack Number : Shelf
                </th>
                <th>
                    Rank Description
                </th>
                <th>
                    TubeNumber
                </th>
                <th>
                    Category
                </th>
                <th>
                    Location Notes
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RackNumber):@Html.DisplayFor(modelItem => item.RackShelf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RankDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TubeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationNotes)
                </td>

                @if (ViewBag.Role == 2 || ViewBag.Role == 3)
                {
                    <td>
                        <a asp-action="Edit" asp-route-RackNumber="@item.RackNumber" asp-route-RackShelf="@item.RackShelf">Edit</a> |
                        <a asp-action="Details" asp-route-RackNumber="@item.RackNumber" asp-route-RackShelf="@item.RackShelf">Details</a> |
                        <a asp-action="Delete" asp-route-RackNumber="@item.RackNumber" asp-route-RackShelf="@item.RackShelf">Delete</a>
                    </td>
                }
                @if (ViewBag.Role == 1 || ViewBag.Role == null)
                {
                    <a asp-action="Details" asp-route-RackNumber="@item.RackNumber" asp-route-RackShelf="@item.RackShelf">Details</a>

                }
            </tr>
            }
        </tbody>
    </table>
</div>